extends layout

block content
    .card.text-dark
        ul.collection
            li.collection__item.avatar
                img.circle(src="img/avatar.png", alt="")
                .collection__item-text
                    span.title First User Name
                    p.sub User Title
                a.secondary-content(href="#")
                    i.material-icons send
            li.collection__item.avatar
                img.circle(src="img/avatar.png", alt="")
                .collection__item-text
                    span.title Second User Name
                    p.sub User Title
                a.secondary-content(href="#")
                    i.material-icons send
            li.collection__item.avatar
                img.circle(src="img/avatar.png", alt="")
                .collection__item-text
                    span.title Third User Name
                    p.sub User Title
                a.secondary-content(href="#")
                    i.material-icons send
            li.collection__item.avatar
                img.circle(src="img/avatar.png", alt="")
                .collection__item-text
                    span.title Fourth User Name
                    p.sub User Title
                a.secondary-content(href="#")
                    i.material-icons send
            li.collection__item.avatar
                img.circle(src="img/avatar.png", alt="")
                .collection__item-text
                    span.title Fifth User Name
                    p.sub User Title
                a.secondary-content(href="#")
                    i.material-icons send    
        button.btn Create new User