<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")
        link(rel="stylesheet", href="/css/main.css")
    body
        .container
            header
                h1 #{title}
                nav.nav
                    ul.collection
                        li 
                            form(action="/signout", method="post")
                                button.nav__btn(type="submit") Sign out
            .main-content
                block content
            footer
                p All rights reserved 2019
        source(src="/js/main.js")