<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Signin
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")
        link(rel="stylesheet", href="/css/main.css")

    body
        .container
            .main-content
                h2 Sign in
                .card
                    form(action="/signin" method="POST" novalidate)
                        label(for="email" autofocus) Email
                        input(type="email" name="email"  required)
                        label(for="password") Password
                        input(type="password" name='password' required)
                        button.btn.btn--primary(type="submit" required) Sign in
            p
            p Login credentials: 
            p email: peter@disney.com
            p pass: 123456