extends layout

block content
    .card.text-dark.pd0
        img(src="../img/avatar2.png", alt="", style="width:100%")
        h1 John Doe
        p.title CEO & Founder, Example
        p Street Code Camp
        div(style="margin:24px 0;")
            a(href="#")
                i.fab.fa-dribbble
                i.fab.fa-twitter
                i.fab.fa-linkedin
                i.fab.fa-facebook
        button.btn Contact
            