mixin userForm(user = {})
    form(action=`/add/${user._id || ''}`, method="post" novalidate)
        label(for="firstName") First Name
        input(type="text" name="firstName" value = user.firstName required autofocus)
        label(for="lastName") Last Name
        input(type="text" name="lastName" value = user.lastName required)
        label(for="title") Title
        input(type="text" name="title" value = user.title required)
        label(for="company") Company
        input(type="text" name="company" value = user.company required)
        label(for="email") Email
        input(type="email" name="email" value = user.email required)
        label(for="password") Password
        input(type="password" name="password" required)
        input(type="submit" value="Save" class="btn btn--primary")